<!doctype html>
<html lang="pt-BR">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline'"
    />
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />
    <title>Calculadora de Taxas de Juros</title>
    <link rel="stylesheet" href="./styles/app.css" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="./index.tsx"></script>
  </body>
</html>
